  <%= form_with  model: @article, local: true do |form| %>
        
        <div class="row">

        <% if @article.errors.any? %>
              <div id="error_explanation">
                <h2>
                  <%= pluralize(@article.errors.count, "error") %> prohibited
                  this article from being saved:
                </h2>
                <ul>
                  <% @article.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
        <% end %>
      

        <div class="input-field col s12 m6">
        <i class="material-icons prefix">mode_edit</i>
         <%= form.label :title %><br>
          <%= form.text_field :title, class: "white-text" %>
        </div>
        
        <div class="input-field input-outlined col s12 m12">
         <i class="material-icons prefix">textsms</i>
         <%= form.label :text %><br>
        <%= form.text_area :text , class: "materialize-textarea white-text" %>
        </div>
 </div>
        <button class="btn waves-effect waves-light" type="submit" name="action"> 
        <%= form.submit "Post on the wall" , class: "white-text" %>
          <i class="material-icons right">send</i>
        </button>
     
    <% end %>